<form method="post" action="{{ path(path, {'id': entity.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ entity.id) }}">
    <button type="submit" class="btn btn-secondary">Delete</button>
</form>
