{% extends 'layout/admin.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block main %}
    HELLO HOME
    on a des salles a configurer !
    <ul>
        {% for room in rooms %}
            <li>{{ room.name }} - {{ room.area }}m2</li>
        {% endfor %}
    </ul>
{% endblock %}
