{% extends 'layout/admin.html.twig' %}

{% block title %}Room List{% endblock %}

{% block main %}
    <div class="container mt-5">
        <ul>
            {% for weekSchedule in weekSchedules %}
                <li>
                    {{ weekSchedule.id }} |
                    <a class="btn btn-primary"
                       href="{{ path('app_admin_room_week_schedule_edit', {id: weekSchedule.id, idRoom: room.id}) }}">Edit</a>
                    {{ include('admin/room/schedule/week/_delete_form.html.twig', {entity: weekSchedule, path: 'app_admin_room_week_schedule_delete'}) }}
                </li>
            {% endfor %}
        </ul>
    </div>
    <a href="{{ path('app_admin_room_week_schedule_new', {idRoom: room.id}) }}" class="btn btn-primary">Create
        Schedule</a>
{% endblock %}
