{% extends 'layout/base.html.twig' %}

{% block header %}
    <ul>
        <li><a href="{{ path('app_logout') }}">Logout</a></li>
        <li><a href="{{ path('app_login') }}">Login</a></li>
    </ul>
{% endblock %}
